.Banner {
    height: 300px;
    width: 100%;
}

.Quill-edit-area {
    height: 800px;
}

#content {
    width: 80%;
    height: calc(100%-300px);
}

.bbs-comment{
    display: flex;
    flex-direction: column;
}

.bbs-comment-root{
    display: flex;
}

.bbs-comment-child{
    /* padding-left: 5rem;
    padding-left: min(); */
}

.bbs-profile{
    width: 8rem;
    height: 8rem;
}
.bbs-content{
    position: relative;
    width: calc(100% - 8rem);
    height: 8rem;
}

.comment-header {
    display: flex;
}

.comment-header > div:nth-child(1) {
    min-width: 10rem;
    margin-right: 1rem;
}
.comment-header > div:nth-child(2) {
    margin-right: 1rem;
}
.comment-reply-btn{
    position: absolute;
    bottom: 0px;
    right: 0px;
}